<h1>PhotoStream</h1>

<%= link_to "New Image", new_image_path %>

<%- @images.each do |image| %>
<div class="image">
   <h2><%= image.title %></h2>
   <%= link_to image_path(image) do %>
      <%= image_tag image.url %>
   <% end %>
</div>
<% end %>