<div class="row">
<%- @images.each do |image| %>
<div class="image half">
   <h2><%= image.title %></h2>
   <%= link_to image_path(image) do %>
      <%= image_tag image.image.url %>
   <% end %>
</div>
<% end %>
</div>
<%= paginate @images %>